asgiref==3.11.0
celery==5.4.0
channels==4.3.2
channels_redis==4.3.0
daphne==4.2.1
Django==5.2.9
PyJWT==2.10.1
redis==7.2.0
sqlparse==0.5.5
django-cors-headers==4.4.0
psycopg2-binary==2.9.9
colorlog==6.8.2
Pillow==10.4.0
scikit-image==0.26.0
